<div class="chart-container">
  <p-chart type="pie" [options]="pieOptions" [data]="createUsableData(dataService.getData())"></p-chart>
  <div class="text-container">
    <div>
      <p>Loyer - Maison : {{dataService.getDepenseCategorie(CategoriesEnum.LOGEMENT)}} €</p>
      <p>Alimentation : {{dataService.getDepenseCategorie(CategoriesEnum.ALIMENTATION)}} €</p>
      <p>Autres : {{dataService.getDepenseCategorie(CategoriesEnum.SHOPPING)}} €</p>
      <p>Aides : {{dataService.getDepenseCategorie(CategoriesEnum.REVENUS)}} €</p>
      <p-button label="Copier" (click)="copyToClipboard()"></p-button><br>
      <form [formGroup]="formGroup">
        <p-multiSelect formControlName="formControl" [options]="Object.keys(categoriesAffichage)" placeholder="Catégories à afficher"></p-multiSelect>
      </form>
    </div>
  </div>
</div>


